*{
  font-family: 'Poppins', 'sans-serif';
}
body,html{
  height: 100%;
  width: 100%;
}
.black-transparent-gradient{
  background: linear-gradient(180deg,rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.288));
  backdrop-filter: blur(3px);
}
.linear-data{
  width: 100%;
  overflow-x: scroll;
}
.h-120{
  height: 360px;
}
.b-t-g{
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.611), rgba(0, 0, 0, 0.611),  rgba(0, 0, 0, 0.124));
}
.b-t-g-180{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.611), rgba(0, 0, 0, 0.611),  rgba(0, 0, 0, 0.124));
}







@media screen and (min-width: 0px) and (max-width: 640px) {
  *{
    font-size: 10px;

  }
  .img-responsive-sm{
    height: 240px;
  }

}
@media screen and (min-width: 641px ) and (max-width: 768px) {
  *{
    font-size: 11px;
  }

}
@media screen  and (min-width: 769px) and (max-width: 1024px) {
  *{
    font-size: 12px;

  }

}
@media screen and (min-width: 1025px) and (max-width: 1536px) {
  *{
    font-size: 13px;

  }

}
@media screen and (min-width: 1537px) {
  *{
    font-size: 14px;

  }

}
